/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */
/**************************/

/* BELOW 1260px (Landscape Tablets) */
/**************************/
@media (max-width: 78em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
  body {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .main-div {
    display: flex;
    flex-direction: column;
  }
  .left,
  .second,
  .right {
    margin-bottom: 4rem;
  }

  .left {
    margin-top: 50rem;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  html {
    overflow-y: visible;
    overflow-x: hidden;
  }
  .left,
  .first,
  .second,
  .right {
    width: 25rem;
    height: 25rem;
    padding: 2rem 2rem;
  }
  .left {
    margin-top: 80rem;
  }

  img {
    right: 4rem;
    top: 18rem;
  }
}
